body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Container do formulário */
.form-container {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#video {
    width: 300px;
}

/* Estilo do campo de entrada */
#codeInput {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

#codeInput:focus {
    border-color: #007bff;
}

/* Estilo dos botões */
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 48%; /* Distribui igualmente o espaço para os botões */
}

#reloadButton {
    background-color: #dc3545; /* Vermelho */
    color: #fff;
}

#sendCodesButton {
    background-color: #28a745; /* Verde */
    color: #fff;
}

.button:hover {
    opacity: 0.8;
}

/* Seção dos resultados de leitura */
#barcode-results {
    margin-top: 20px;
    text-align: left;
}

/* Alerta */
.alerta {
    font-size: 18px;
    font-weight: bold;
    color: #ff6347; /* Coral Red */
}